// Place all the styles related to the WbStatuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 20px;
}

.navbar {
   .brand {
    color: #000000;
   }
   .nav > li > a {
    color: #777777;
   }
}

.center {
  text-align: center;
}

.leader {
  margin-bottom: 3em;
  h1 {
    font-size: 36px;
  }
  p {
    color: #888;
    font-size: 18px;
  }
}

.try {
  border: solid 1px #ccc;
  border-radius: 4px;
  margin-bottom: 3em;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  padding: 0em 1em 1em;
  h1 {
    font-size: 32px;
  }
  p {
    color: #888;
    font-size: 18px;
  }
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

#users-list {
  @include clearfix;
  list-style-type: none;
  padding-left: 60px;
  text-align: left;

  li {
    margin-bottom: 10px;
    float: left;
    width: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  a {
    display: block;
    padding-left: 75px;
    color: #888;
    text-decoration: none;
    background: 10px 10px no-repeat;
    line-height: 70px;
    border: solid 1px #ccc;
    border-radius: 4px;
    &:hover {
      color: #666;
      border: solid 1px #888;
    }
  }
}

.section {
  margin-bottom: 40px;
  padding: 5px 20px 20px 20px;
  background-color: #eee;
}

#user-info {
  background-size: 180px auto;
  padding-left: 200px;
  min-height: 180px;
  margin-bottom: 20px;
  
  small {
    padding-left: 20px;
  }
}